*{padding: 0; margin: 0; list-style: none; text-decoration: none; box-sizing: border-box;}
/* header */
.head_banner{max-width: 100vw; height: 50px; background-color: black;}
.header_page{width: 100vw; height: 100px; box-shadow: 1px 3px 3px 3px rgba(3, 3, 3, 0.2); background-color: #03a9f4;}
header{position: relative; display: flex; width: 90%; height: 50px; margin:  0 auto; font-family: 'Caprasimo', cursive;}
h1{font-size: 3vw; width: 10%; height: 100%; line-height: 50px;}
h1 > a{color: rgb(60, 74, 128); line-height: 10px;}
nav{position: relative; width: 60%; height: 100%; margin:  0 auto;}
nav > ul{display: flex; text-align: center; width: 100%; height: 100%;} 
nav > ul > li{ margin:  0 auto;  width: 18%; height: 100%; transition: all.3s;}
.nav_list> li:hover{border-radius: 0 0 10px 10px; background-color: white}
nav > ul > li > a{color: #fff; line-height: 50px; font-size: 1.3vw; width: 100%; height: 100%; display: block; transition: all .3s; font-family:'Noto Sans KR', sans-serif; font-weight: bold;}
.nav_list > li > a:hover {color: black;}
.header_icons{display: flex; padding-top: 5px;}
/* slide_wrap_tool : 헤더 슬라이드*/
.slide_wrap_tool{margin-bottom: 100px;}
.slide_btn > button{width: 8vw; height: 10vh; background-color: rebeccapurple;}
.slide_wrap > li{height: 100%; overflow: hidden; position: relative;}
.slide_wrap > li > div{position: absolute; z-index: 99; color: white; font-size: 6vw; top: 0; font-family: 'Noto Sans KR', sans-serif; padding: 50px;}
.slide_banner{padding-top: 50px; position: relative;}
.slide_banner > h3{position: absolute;}
.slide_banner > h3:nth-child(1){-webkit-text-stroke: 2px #03a9f4;}
.slide_banner > h3:nth-child(2){color: #03a9f4; animation: banner ease-in-out 4s; top: 50px; -webkit-text-stroke: 2px #fff; transition: all.3s;}
.slide_banner > h3:nth-child(2):hover{top: 70px;}
.slide_wrap > li > a > img{height: 80vh; object-fit: cover;}
/* best_product */
.best_product{position: relative; text-align: center; max-width: 90vw; height: 70vh; margin:  0 auto;}
.best_product > ul{display: flex; height: 60vh; margin:  0 auto; padding-top: 50px;}
.best_product > ul > li{width: 400px; height: 500px; margin:  0 auto; overflow: hidden; border-radius: 20px; box-shadow: 1px 1px 1px 1px rgba(3, 3, 3, 0.5);}
.best_product > ul > li > h2{font-size: 2rem; font-family: 'Noto Sans KR', sans-serif;}
.best_product > ul > li > span{height: 50%; width: 100%; display: block; overflow: hidden; position: relative;} 
.best_product > ul > li:hover span::after{opacity: 1;}
.best_product > ul > li > span > img{transition: all.5s; } 
.best_product > ul > li:hover span > img{scale: 1.2;} 
.best_product > ul > li > span::after{content: ''; width: 100%; height: 100% ; position: absolute; background-color: rgba(0,0,0,0.5); top: 0; left: 0; opacity:0; transition: all.5s;} 
/* price_page */
.price_page{width: 90vw; height: 30vh; margin: 0 auto; overflow: hidden; padding-bottom: 40%; display: flex; border-radius: 20px; margin-top: 200px; box-shadow: 1px 3px 3px 3px rgba(3, 3, 3, 0.2); margin-bottom: 200px;}
.price_page_text{width: 30%; font-size: 2vw; padding: 50px; font-family: 'Noto Sans KR', sans-serif; white-space: nowrap;}
.list_text{display: inline-flex;}
.list_text .list_text_wrap{color: #03a9f4;}
.list_text_wrap > li{position: absolute;}
.list_text_wrap > li > span{position: relative; font-size: 2em; display: none;}
.list_text_wrap > li:nth-child(1) > span{position: relative; font-size: 2em; display: none;}
.list_text_wrap > li > span::after{content: ''; position: absolute; height: 100%; width: 100%; border-left: 2px solid #03a9f4; left: 0; animation: typing 1s steps(10) forwards; background-color: #fff;}
.price_page_list > div > ul > li:nth-child(1)  span{display: block;}
.price_page_list{width: 70%;}
.price_page_list > div > ul {display: flex; justify-content: center;align-items: center;margin: 0 auto;width: 60vw; padding-top: 10px;}
.price_page_list > div > ul > li {width: 18vw;height: 18vw;background-color: rebeccapurple;border-radius: 50%;margin-right: 10px;overflow: hidden;position: relative;margin: 0 auto;}
.price_page_list > div > ul > li::after {content: ''; background-color: rgba(0,0,0,0.5); position: absolute; width: 100%; height: 100%; top: 0; left: 0; opacity: 0; transition: all.3s;}
@keyframes typing {100%{left: 100%;}}
.price_page_list > div > ul > li:hover::after{opacity: 1;}
.price_page_list > div > ul > li:hover::before {bottom: -60%;}
.price_page_list > div > ul > li > img:nth-child(1) {position: absolute;top: 0;left: 0;width: 100%;height: 100%;object-fit: cover;}
/* 서비스 센터 */
.service_center_tool{position: relative; width: 100vw; min-height: 300px; padding-bottom: 20%; background-color: #f5f6f8; overflow: hidden;}
.customer_information{width: 90%; min-height: 300px; height: 40vh; margin: 0 auto; padding-top: 100px; text-align: center;}
.customer_information > h2{padding-bottom: 100px; font-size: 3vw;}
.customer_information > ul{display: flex; width: 100%; margin:  0 auto; text-align: center; height: 10vh;}
.customer_information > ul > li{position: relative; margin:  0 auto; width: 100%; padding-top: 150px; font-size: 1vw;}
.customer_information > ul > li:not(:last-child)::after{width: 2px; height: 10vw; background-color: grey; position: absolute; content: ''; right: 0; top: 50%; transform: translate(-50%,-50%);}
.customer_information > ul > li::before{position: absolute; content: ''; width: 50px; height: 50px; overflow: hidden; background: url(https://img.modetour.com/modetour/2016/common/sp_ico_bullet_202301.png); left: 50%; top: 50%; transform: translate(-50%,-50%)scale(2,2);}
.customer_information > ul > li:nth-child(2):before{background-position: -120px 0;}
.customer_information > ul > li:nth-child(3):before{background-position: -60px 0;}
.customer_information > ul > li > h3{font-size: 1vw; white-space: nowrap;}
/* footer */
footer{width: 100vw; padding-bottom: 20%; background-color: black;}
footer > p{font-size: 3vw; color: white;}





@media screen and (max-width:1100px) {
    .slide_wrap > li > a > img{height: 50vh; object-fit: cover;}
    .best_product > ul{display: block;}
    .best_product > ul > li{ height: 200px;  margin-bottom: 30px;}
    .best_product > ul > li > span{width: 100%; height: 100%;} 
    .best_product > ul > li > span > img{width: 100%;} 
    .best_product > ul > li{max-width: 100%;margin:  0 auto; overflow: hidden; border-radius: 20px; box-shadow: 1px 1px 1px 1px rgba(3, 3, 3, 0.5); margin-bottom: 50px;}
    .best_product > ul > li > h2{position: absolute; left: 50%; transform: translateX(-50%); white-space: nowrap; font-size: 6vw; }
    .price_page_list > ul{margin-left: 30px;}
    .price_page_text{padding: 0; margin: 0; padding-left: 30px;}
    .customer_information > ul > li::before{left: 50%; top: 50%; transform: translate(-50%,-50%)scale(1.5,1.5);}
    .best_product{margin-bottom: 400px; width: 100%;}
    
}   
@media screen and (max-width:465px) {
    nav > ul {width: 130%;}
    .header_page {width: 100%;}
    .header_icons{display: none;}
    .best_product > ul > li{max-width: 100%;margin:  0 auto; overflow: hidden; border-radius: 20px; box-shadow: 1px 1px 1px 1px rgba(3, 3, 3, 0.5); margin-bottom: 50px;}
    .best_product > ul > li > h2{position: absolute; left: 50%; transform: translateX(-50%); white-space: nowrap; font-size: 6vw; }
    .list_text{padding-left: 50px;}
    .price_page{max-width: 100vw; margin-top: 200px; display: block;}
    .price_page_text > p{padding: 10px;}
    .price_page_text{ display: flex; height: 30px; padding-top: 20px; min-width: 410px;}
    .price_page_list{margin: 0 auto; }
    .price_page_list > div > ul > li {min-width: 70px;min-height: 70px;}
    .price_page_list{padding-top: 30px;}
    .price_page {width: 100%;min-height: 250px;}
    .customer_information{padding-top: 0; width: 100%;}
    .customer_information > ul > li{position: relative; margin:  0 auto; width: 100%; padding-top: 80px; font-size: 1vw;}
    .customer_information > ul > li::before{left: 50%; top: 50%; transform: translate(-50%,-50%)scale(1,1);}
    .customer_information > ul > li > h3{font-size: 6px}

    
}
