*{padding: 0; margin: 0; text-decoration: none; list-style: none;}
body{height: 500vh;}
header{display: flex; max-width: 80vw; margin: 0 auto; border: 1px solid black;}
header > ul{display: flex;}
nav > ul{display: flex;}
/* head_title */
.head_title{max-width: 80vw; margin:  0 auto; background-color: rebeccapurple;}
/* 헤드 베너 */
.head_banner{max-width: 80vw; margin: 0 auto; display: flex; background-color: darkblue;}
.head_banner > div{position: relative; min-height: 2030px;}
.big_banner{flex: 1; background-color: palegoldenrod; margin-right: 50px; position: relative;}
.big_banner > div{width: 100%; height: 30%; background-color: aqua; position: sticky; top: 100px; margin:  0 auto; border-radius: 20px; overflow: hidden;}
.banner_text{width: 100%; height: 30%; background-color: rebeccapurple;}
.banner_img{width: 100%; height: 70%;}
.index00{background: url(https://t1.kakaocdn.net/kakaocorp/kakaocorp/admin/news/980c7a8a018800001.png?type=thumb&opt=C630x472.fwebp); background-size: cover; background-position: center;}

.small_banner{flex: 1; background-color: palegreen;}
/* .small_banner{width: 500px; height: 2030px; position: relative; } */
.small_banner > ul > li:hover{margin-top: -10px; box-shadow: 6px 6px 6px 6px rgba(3, 3, 3, 0.2);}
.small_banner > ul > li{position: absolute ; display: inline-block; width: 320px; height: 400px;  box-shadow: 1px 3px 3px 3px rgba(0, 0, 0, 0.1);; border-radius: 10px; overflow: hidden; transition: all.4s;}
.small_banner > ul > li:nth-child(1){left: 0px;}
.small_banner > ul > li:nth-child(2){width: 300px; height: 200px;  box-shadow: 1px 3px 3px 3px rgba(0, 0, 0, 0.1);; border-radius: 10px; right: 0;}
.small_banner > ul > li:nth-child(3){top: 430px; left: 0px;}
.small_banner > ul > li:nth-child(4){top: 230px; right: 0;}
.small_banner > ul > li:nth-child(5){top: 890px; left: 0px;}
.small_banner > ul > li:nth-child(6){top: 690px; right: 0;}
.small_banner > ul > li:nth-child(7){top: 1350px; left: 0px;}
.small_banner > ul > li:nth-child(8){top: 1150px; right: 0;}
.small_banner > ul > li:nth-child(9){width:  48%; height: 200px;  box-shadow: 1px 3px 3px 3px rgba(0, 0, 0, 0.1);; border-radius: 10px; top: 1830px; left: 0px;}
.small_banner > ul > li:nth-child(10){width: 48%; height: 200px; box-shadow: 1px 3px 3px 3px rgba(0, 0, 0, 0.1);; border-radius: 10px; top: 1580px; right: 0; }
.small_banner > ul > li:nth-child(11){width: 48%; height: 200px; box-shadow: 1px 3px 3px 3px rgba(0, 0, 0, 0.1);; border-radius: 10px; top: 1830px; right: 0; }
.small_banner > ul > li > img{position: absolute; top: 180px; left: 0px;}
.small_banner > ul > li:nth-child(2) > img{position: absolute; top: 10px; left: 0px; padding: 20px;}
.small_banner > ul > li:nth-child(9) > img{position: absolute; top: 10px; left: 0px; padding: 20px;}
.small_banner > ul > li:nth-child(10) > img{position: absolute; top: 10px; left: 0px; padding: 20px;}
.small_banner > ul > li:nth-child(11) > img{position: absolute; top: 10px; left: 0px; padding: 20px;}
.small_banner > ul > li > div > section{width: 400px;  margin:  0 auto; margin-top: 10px; padding:20px 0 0 20px;}
.small_banner > ul > li > div > section > b{background-color: rgb(235, 235, 235); width: 100px; height: 30px; position: absolute;  line-height: 30px; text-align: center; font-weight: lighter; border-radius: 10px; top: 30px; left: 80px;}
.small_banner > ul > li > div > section > h2{font-size: 20px; }
.small_banner > ul > li > b{background-color: rgb(235, 235, 235); width: 100px; height: 30px; position: absolute; top: 30px; line-height: 30px; text-align: center; font-weight: lighter; border-radius: 10px; margin-left: 70px; left: 10px;}
.small_banner > ul > li:nth-child(9) > h2{position: absolute; top: 80px; left: 20px; font-size: 50px;}
.small_banner > ul > li > h2{position: absolute; top: 80px; left: 20px; font-size: 18px; }

