div{width: 1000px; height: 1000px; background-color: rebeccapurple; display: flex;  justify-content: space-between;}
.index01{background-color: beige; width: 30%;}
.index02{background-color: black; width: 30%;}